<div class="row mt-2 mb-5">
  <div class = "col-lg-6 offset-lg-3 font-weight-light text-center lead">
    <div>
        Customer Type?
    </div>
  </div>
</div>


<div class="row mb-4">
  <div class="col-lg-3 offset-lg-3 col-6">
    <a class="btn btn-outline-info btn-block text-center py-4 pr-1 custom-info-button" href="/buyers/new/Buyer">
      <h4 class="font-weight-light">Buyer</h4>
    </a>
  </div>

  <div class="col-lg-3 col-6">
    <a class="btn btn-outline-info btn-block text-center py-4 custom-info-button" href="/buyers/new/Tenant">
      <h4 class="font-weight-light">Tenant</h4>
    </a>
  </div>
</div>

