<div class="row mb-0">
</div>

<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <hr class="mt-0 mb-2" style="height:10px">
  </div>
</div>


  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light text-center ">
        Our customer platform is being redesigned.
        </h5>
      <h5 class="font-weight-light text-center ">
        For immediate questions or to access your customer data please email:
        <a href="mailto:guillermo@trackyourlisting.com">guillermo@trackyourlisting.com</a>

      </h5>
    </div>
  </div>


</div>

