<h1>
  Add a new activity type
</h1>


<hr>

<form action="/create_activity_type" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="cost_toggle">
      Cost toggle
    </label>

    <input type="text" id="cost_toggle" name="cost_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="duration_toggle">
      Duration toggle
    </label>

    <input type="text" id="duration_toggle" name="duration_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="detail_toggle">
      Detail toggle
    </label>

    <input type="text" id="detail_toggle" name="detail_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="outcome_toggle">
      Outcome toggle
    </label>

    <input type="text" id="outcome_toggle" name="outcome_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="contact_toggle">
      Contact toggle
    </label>

    <input type="text" id="contact_toggle" name="contact_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="flyer_img_toggle">
      Flyer img toggle
    </label>

    <input type="text" id="flyer_img_toggle" name="flyer_img_toggle" class="form-control">
  </div>

  <div class="form-group">
    <label for="postcard_img_toggle">
      Postcard img toggle
    </label>

    <input type="text" id="postcard_img_toggle" name="postcard_img_toggle" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create activity type
  </button>
</form>

<hr>

<a href="/activity_types">
  Go back
</a>
