<div class="row">
  <div class="col-md-12">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissable check-for-exist" role="alert">
        <%= notice %>

        <button type="button" class="close remove-loader" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissable check-for-exist" role="alert">
        <%= alert %>

        <button type="button" class="close remove-loader" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

  </div>
</div>
