<nav class="navbar navbar-expand navbar-light bg-white mb-3">

<!--<nav class="navbar navbar-expand navbar-light bg-white fixed-bottom ">-->
  <div class="container justify-content-center">

    <ul class="navbar-nav mt-1">

      <li class="nav-item">
        <small> <a class="nav-link text-muted" href="/help">
            <span class="hidden-sm">Help</span></a> </small>
      </li>

      <li class="nav-item pt-1 text-secondary">
        <p><small> • </small></p>
      </li>

      <li class="nav-item">
        <small><a class="nav-link text-muted" href="/terms">
            <span class="hidden-sm">Terms</span></a> </small>
      </li>

      <li class="nav-item pt-1 text-secondary">
        <p><small> • </small></p>
      </li>

      <li class="nav-item">
        <small><a class="nav-link text-muted" href="/privacy">
            <span class="hidden-sm">Privacy</span></a> </small>
      </li>

      <li class="nav-item pt-1 text-secondary">
        <p><small> • </small></p>
      </li>

      <li class="nav-item">
        <small>
          <p class="nav-link text-muted" href="/">
            <span class="hidden-sm">Copyright 2019</span></p>
        </small>
      </li>

    </ul>

  </div>
  <!-- .container -->
</nav>

