<% if current_user.blank? %>
  <nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
    <div class="container">

      <a class="navbar-brand" href="/">
        <img src="/logos/logo4.jpg" width="260" class="img-fluid" alt="Responsive image">
      </a>


      <button class="navbar-toggler navbar-right remove-loader" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible-nav-links">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mt-4">

          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">
              <i class="fas fa-sign-in-alt"></i>
              <span class="hidden-sm">Log in</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">
              <i class="fas fa-user-plus"></i>
              <span class="hidden-sm">Sign up</span></a>
          </li>

        <% else %>
          <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="/logos/logo4.jpg" width="260" class="img-fluid" alt="Responsive image">
              </a>

              <button class="navbar-toggler remove-loader" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="collapsible-nav-links">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav mt-4">

                  <li class="nav-item">

                    <% if current_page?('/all_properties') %>
                        <a class="nav-link text-info" href="/all_properties">
                    <% else %>
                        <a class="nav-link" href="/all_properties">
                    <% end %>
                        <i class="fas fa-home"></i>
                        <span class="hidden-sm">Properties</span></a>
                    </li>

                    <li class="nav-item">
                      <% if current_page?('/buyers') %>
                        <a class="nav-link text-info" href="/buyers">
                      <% else %>
                          <a class="nav-link" href="/buyers">
                      <% end %>
                          <i class="fas fa-users"></i>
                          <span class="hidden-sm">Customers</span></a>
                      </li>

                      <!-- <li class="nav-item">
                        <% if current_page?('/comments') %>
                        <a class="nav-link text-info" href="/comments" >
                        <% else %>
                        <a class="nav-link" href="/comments" >
                        <% end %>
                          <i class="fas fa-edit"> </i>
                          Feedback
                        </a>
                      </li> -->

                      <li class="nav-item">
                        <% if current_page?('/help_home') %>
                        <a class="nav-link text-info" href="/help_home">
                        <% else %>
                        <a class="nav-link" href="/help_home">
                        <% end %>
                          <i class="fas fa-info-circle"> </i>
                          Help
                        </a>
                      </li>

                      <li class="nav-item">
                         <% if current_page?('/settings') %>
                        <a href="/settings" class="nav-link text-info">
                        <% else %>
                        <a href="/settings" class="nav-link">
                        <% end %>
                          <i class="fas fa-cog"> </i>
                          Settings
                        </a>
                      </li>

                      <!--<li class="nav-item">-->
                      <!--  <a href="/users/edit" class="nav-link">-->
                      <!--    <i class="fas fa-edit"> </i>-->
                      <!--    <%= current_user.first_name%>-->
                      <!--  </a>-->
                      <!--</li>-->


                      <li class="nav-item">
                        <a href="/users/sign_out" data-method="delete" class="nav-link">
                          <i class="fas fa-sign-out-alt"> </i>
                          Sign out
                        </a>
                      </li>

                    <% end %>
                  </ul>
                </div>
                <!-- .navbar-collapse -->
              </div>
              <!-- .container -->
            </nav>

            <!------------------------------------------------------------------------------------------->
