<div class="row mb-5">
  <div class = "col-lg-6 offset-lg-3 font-weight-light text-center lead">
    <div>Check out our "How to" guides to get help adding properties, activities, customers and more (coming soon).
      If you still need help you can post on our feedback wall or contact us directly.
    </div>
  </div>
</div>


<div class="row mb-4">
  <div class="col-lg-4 offset-lg-2 col-6">
    <a class="btn btn-outline-info btn-block text-center py-4 pr-1 custom-info-button" href="/help">
      <i class="far fa-file-alt fa-3x mb-2"></i>
      <h4 class="font-weight-light">How To...</h4>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a class="btn btn-outline-info btn-block text-center py-4 custom-info-button" href="/comments">
      <i class="far fa-edit fa-3x mb-2"></i>
      <h4 class="font-weight-light">Feedback</h4>
    </a>
  </div>
</div>

<div class="row mb-3">

  <div class="col-lg-4 offset-lg-4 offset-3 col-6">
    <a class="btn btn-outline-info btn-block text-center py-4 pl-1 custom-info-button" href="/contact_us">
      <i class="fas fa-headset fa-3x mb-2"></i>
      <h4 class="font-weight-light">Contact Us</h4>
    </a>
  </div>

</div>
