<div class="row mb-2s">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Help Page
    </h4>
    <hr>

    <div class="accordion" id="accordionExample">
      <div class="card bg-white border-white">
        <div class="card-header bg-white text-center" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-light font-weight-light text-uppercase text-dark text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Add an Icon to your Home Screen. (iOS) +
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <img class="img-fluid img-thumbnail" src="https://res.cloudinary.com/gtinoco/image/upload/v1550819234/trackyourlisting/help/help_icon_IOS.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      
            <div class="card bg-white border-white">
        <div class="card-header bg-white text-center" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-light font-weight-light text-uppercase text-dark text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
              More tips coming soon!
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
