<div class="row mb-2s">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Settings
    </h4>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">

    <div class="text-center font-weight-light">
    Track Your Listing allows you to personalize what fields your activities will show. Select property or buyer activities to edit your settings.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <div>
      <a href="/activity_types">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 text-uppercase"> Property Activity Types</button>
      </a>
    </div>

    <div>
      <a href="/buyer_activity_types">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 text-uppercase"> Customer Activity Types</button>
      </a>
    </div>
    
        <div>
      <a href="/users/edit">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 text-uppercase"> My Account</button>
      </a>
    </div>

  </div>
</div>
