<div class="row mb-2s">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Updates!
    </h4>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">

    <div class="text-center font-weight-light">
      We have created this page to keep track of all the new features and updates we are working on. 
      Hopefully this will give you a better idea of what is to come.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">

    <p class="text-info">Upcoming Features</p>
    <ul>
      <li>
        Guide for Customizing Activity Types
      </li>
      <li>
        Customize Report Dates (Customers)
      </li>
      <li>
        Add Listing Price Input
      </li>
      <li>
        Autocomplete addresses using Google
      </li>
      <li>
        Allow Headshot Upload for Report
      </li>
    </ul>
    <p class="text-info">Recently Completed</p>
    <ul>

      <li>
        Create Archive for Storing Completed Listings and Customers<span><small class="text-muted">(3/5/2019)</small></span>
      </li>
      <li>
        Customize Report Dates for Properties<span><small class="text-muted">(3/5/2019)</small></span>
      </li>
      <li>
        Password Reset Email Functionality <span><small class="text-muted">(3/1/2019)</small></span>
      </li>
      <li>
        Help Guides for Phone Icons <span><small class="text-muted">(2/25/2019)</small></span>
      </li>
      <li>
        Allow Input of Buyers and Tenants <span><small class="text-muted">(2/20/2019)</small></span>
      </li>


    </ul>

  </div>
</div>
