<header class="navbar navbar-expand-md navbar-light bg-white nav-header fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/logos/logo4.png" width="260" class="img-fluid" alt="Responsive image">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-orange" href="/users/sign_up">
          Sign up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">
          Log in
        </a>
      </li>
    </ul>
  </div>
</header>

<section class="banner-bg">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-start align-items-sm-center">
      <div class="col-12 col-md-5">
        <h3>Sell your properties faster</h3>
        <p>We help real estate agents track and create detailed reports of what they do for their clients.</p>
        <a href="/users/sign_up" class="btn btn-orange btn-started">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="built-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Built by Realtors for Realtors</h3>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'bs-img.png', class: 'bs-img' %>
      </div>
      <div class="col-12 col-md-6">
        <div class="bs-del">
          <h4>Access from anywhere, on any device!</h4>
          <p>On the go or at your desktop, manage your properties and take control of your business!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="track-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Wht are agents using Track Your Listing?</h3>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="ts-item">
          <%= image_tag 'ts-img1.png', class: 'ts-img' %>
          <h4>Work together to sell listings faster</h4>
          <p>Get your client to agree on the "right price" by showing them all you've done for their listing</p>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="ts-item">
          <%= image_tag 'ts-img2.png', class: 'ts-img' %>
          <h4>Create reports to keep your clients informed</h4>
          <p>Create a professional report or download your data and make your own</p>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="ts-item mb-0">
          <%= image_tag 'ts-img3.png', class: 'ts-img' %>
          <h4>Take control of your listings</h4>
          <p>Under economic uncertainty it's essential to stay organized and keep track of your activities</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="property-sec">
  <div class="container-fluid h-100 p-0">
    <div class="row no-gutters h-100 align-items-md-center">
      <div class="col-12 col-md-6">
        <!-- <iframe width="100%" height="340" src="https://www.youtube.com/embed/5dMIjGXNqQs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video controls autoplay muted loop width="100%">
          <source src="../videos/tyl_promo.mp4" type="video/mp4">
      </video>
      </div>
      <div class="col-12 col-md-6 text-center">
        <h3>In tough times, show your customers that you are working hard to sell their property</h3>
      </div>
    </div>
  </div>
</section>

<section class="agents-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h3>See what real estate agents are saying about us…</h3>
      </div>
      <div class="col-12 col-md-4">
        <div class="as-item">
          <div class="img">
            <img src="/assets/headshot1.1.png" alt="">
          </div>
          <p>
            “This has been a game changer…
            I have noticed that agents feel much more empowered to communicate with sellers when negotiating an offer, or earning a price reposition".
          </p>
          <h5>-Michael, Coldwell Banker Manager</h5>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="as-item">
          <div class="img">
            <img src="/assets/headshot2.png" alt="">
          </div>
          <p>
            “This is an essential tool to keep your customers informed on what's going on with their listing and earn price reductions when needed. My customers see it as a big plus for them and really love it!“
          </p>
          <h5>-Maria Luisa, Coldwell Banker Agent</h5>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="as-item mb-0">
          <div class="img">
            <img src="" alt="">
          </div>
          <p>
            “This is an invaluable tool to convince your clients to listen to your pricing recommendations”
          </p>
          <h5>-Jane, Coldwell Banker</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sell-sec">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Start selling your properties faster today</h3>
        <a href="/users/sign_up" class="btn btn-orange btn-started">Get Started</a>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center">
        <p><a href="/terms">Terms</a> - <a href="/privacy">Privacy</a> - Copyright 2020</p>
      </div>
    </div>
  </div>
</footer>
