/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap-datetimepicker
 */

 html { font-size: 1rem; }

@media (min-width: 300px) {
    html { font-size: .9rem; }
}

@media (min-width: 768px) {
    html { font-size: 1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

.custom-info-button {
  color: #17a2b8;
  border-color: #17a2b8;
}

.custom-info-button:hover {
  color: #117a8a;
  background-color: #1ab6cf;
  border-color: #17a2b8;
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select[type="text"], textarea[type="text"], input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select[type="text"], textarea[type="text"], input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select[type="text"], textarea[type="text"], input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select[type="text"], textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

.vert-custom {
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}


/*filter*/
.icon-more {font-size: 20px;color: #17a2b8;line-height: 1;}
.icon-more:hover {color: #0f6674;}
.filter-bx .icon-add {font-size: 40px;line-height: 1;}
.filter-bx .icon-add:hover {text-decoration: none;}
.filter-bx .icon-add i{font-style: normal;}
.filter-bx .fb-actions a {display: block;line-height: 1; color: #727373;cursor: pointer;}
.filter-bx .fb-actions a:hover {color: #0f6674;}

/*accordian*/
.accordion-bx .card {border-color: #9e9494;}
.accordion-bx .card .card-header {display: block;position: relative;background-color: #fff;border-bottom:0;border-radius: 5px;}
.accordion-bx .card .card-header h4 {display: block;font-size: 16px;font-weight: 400;margin: 0 0 10px 30px;padding-right: 25px;}
.accordion-bx .card .card-header p {display: block;font-size: 16px;font-weight: 400;margin: 0 0 0px 30px;padding: 10px;background-color: #fff;border: 1px solid #ddd;}
.accordion-bx .card .card-header .icon{position: absolute;color: #727373;}
.accordion-bx .card .card-header .icon.icon-edit{right: 20px;}
.accordion-bx .card .card-header .icon:hover {color: #0f6674;}
.rotate{
-webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg);  /* Firefox */
  -ms-transform: rotate(90deg);  /* IE 9 */
    transform: rotate(90deg);  /* Standard syntax */
}
.accordion-bx .card .collapse label {color: #17a2b8}
