/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap-datetimepicker
 */
 /* body { font-size: 16px; }
 input, select { font-size: 100%; } */

 html { font-size: 1rem; }

@media (min-width: 300px) {
    html { font-size: .9rem; }
}

@media (min-width: 768px) {
    html { font-size: 1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

.custom-info-button {
  color: #17a2b8;
  border-color: #17a2b8;
}

.custom-info-button:hover {
  color: #117a8a;
  background-color: #1ab6cf;
  border-color: #17a2b8;
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select[type="text"], textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

.vert-custom {
  /* position: relative;
  top: 20%;
  transform: translateY(-50%); */
}


/*filter*/
.icon-more {font-size: 20px;color: #17a2b8;line-height: 1;}
.icon-more:hover {color: #0f6674;}
.filter-bx .icon-add {font-size: 40px;line-height: 1;}
.filter-bx .icon-add:hover {text-decoration: none;}
.filter-bx .icon-add i{font-style: normal;}
.filter-bx .fb-actions a {display: block;line-height: 1; color: #727373;cursor: pointer;}
.filter-bx .fb-actions a:hover {color: #0f6674;}

/*accordian*/
.accordion-bx .card {border-color: #9e9494;}
.accordion-bx .card .card-header {display: block;position: relative;background-color: #fff;border-bottom:0;border-radius: 5px;}
.accordion-bx .card .card-header h4 {display: block;font-size: 16px;font-weight: 400;margin: 0 0 10px 30px;padding-right: 25px;}
.accordion-bx .card .card-header p {display: block;font-size: 16px;font-weight: 400;margin: 0 0 0px 30px;padding: 10px;background-color: #fff;border: 1px solid #ddd;}
.accordion-bx .card .card-header .icon{position: absolute;color: #727373;}
.accordion-bx .card .card-header .icon.icon-edit{right: 20px;}
.accordion-bx .card .card-header .icon:hover {color: #0f6674;}
.rotate{
-webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg);  /* Firefox */
  -ms-transform: rotate(90deg);  /* IE 9 */
    transform: rotate(90deg);  /* Standard syntax */
}
.accordion-bx .card label {color: #17a2b8}
.card-padding{
  padding: 0rem 1.25rem 1.25rem;
}


.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #54c1bb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,.7);
  z-index: 9999;
}

/* search property */
.show{
  display: block;
}
.hide{
  display: none;
}
.search-box{
  position: relative;
  padding-left: 5px;
}
.search-box .form-control{
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 200px;
  background: #fff;
  z-index: 9;
  margin-right: 7px;

}
.search-box a {
  font-size: 1.3rem;
}
.vert-custom a {
  font-size: 1.3rem;
}
.text-color a{
  color: #fff
}
.custom-plus-icon{
  /* display: block !important; */
}
.custom-plus-image{
  display: none !important;
}
@media screen and (max-width:575px){
  .search-box .form-control{
    width: 147px;
  }
  .custom-plus-image{
    position: fixed;
    bottom: 65px;
    right: 16px;
    z-index: 99;
    display: block !important;
  }

  .custom-plus-image img{
    width: 75px;
  }
  .custom-plus-icon{
    display: none !important;
  }
}

@media screen and (max-width:390px){
  .search-box .form-control{
    width: 120px;
  }

}
@media screen and (max-width:575px){
  .resize-bottom.fixed-bottom {
    padding-bottom: 10px;
    z-index: 99999;
  }
}
@media screen and (max-width:360px){
  .search-box .form-control{
    width: 107px;
  }
  .custom-plus-image{
    bottom: 65px;
  }
}
@media screen and (max-width:320px){
  .search-box .form-control{
    width: 66px;
  }
}

/* Master icon */
.master-icon{
  padding-top: 8px;
  padding-left: 15px;
}
.master-icon-edit{
  padding-top: 0;
  padding-left: 0;
  cursor: -webkit-grab;
  cursor: grab;
}
.master-icon.icon{
  cursor: -webkit-grab;
  cursor: grab;
}
.master-icon img,
.master-icon-edit img{
  width: 20px;
  height: 25px;
  padding-top: 2px;
}
.sort-btn{
  border: 1px solid green;
  color:green;
}
.sort-btn:hover{
  color: green;
}
/* .abc:after{
  background: rgba(0, 0, 0, 0.6); width: 100%; height: 100%; position: absolute; top: 0; content: ""; right: 0;
} */

.body-bg{
  background: rgba(0,0,0,.35)!important;
}
/* .body-bg2{
  background: rgba(0,0,0,.25) !important;
} */
.for-uper-section{
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.for-lower-content{
  background: #fff;
  padding-bottom: 20px;
  padding-left: 30px;
  }

@media (max-width: 575px){
    #search_result .row{
      margin-left: 0;
      margin-right: 0;
    }

    .row.alter-row-margin{
      margin-left: 0;
      margin-right: 0;
    }
  }

/*Upload box*/
.card-body.p-box{padding: 0;}
.card-body .upload-bx{min-width: 253px;min-height: 78px;padding: 0;position: relative;border-radius: .25rem;border:1px solid rgba(0,0,0,.125);}
.card-body .upload-bx .file-upload-bx{position: absolute;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;cursor: pointer;}
.card-body .upload-bx .file-upload-bx .upname{display: block;margin: 0;font-size: 16px;color: #ddd;line-height: 1.2;text-transform: capitalize;color:#17a2b8;font-weight: 400;}
.card-body .upload-bx .file-upload-bx:hover .upname{font-weight: 500;}
.card-body .upload-bx .file-upload-bx .form-control{position: absolute;display: block;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;opacity: 0;z-index: 2;cursor: pointer;}
.card-body .p-edit-bx {position: relative;border-radius: .25rem;border:1px solid rgba(0,0,0,.125);display: block;width: 150px;height: 150px;margin: auto;}
.card-body .p-edit-bx .img-thumbnail{padding: 0;width: 100%;height: 100%;display: block;}
.card-body .p-edit-bx .icon-edit{position: absolute; bottom: 1px; right: 1px; font-size: 14px; background: #17a2b8; padding: 0 5px; min-width: 35px; display: flex; height: 30px; color: #fff; justify-content: center;
    align-items: center;}


/*property-summary-bx*/
.property-summary-bx{position: relative;}
.property-summary-bx .badge.lblBadge {position: absolute;right: 0;padding: 8px 10px; background: #900; color: #fff; font-size: 14px; top: 6px;cursor: pointer;}
.property-summary-bx .btn.btn-transparent{min-width: inherit;color: #000; font-weight: 500;font-size: 1.5rem;line-height: 1.2;}
.property-summary-bx .btn.btn-transparent:focus{outline:0;box-shadow: none;}
.property-summary-bx .btn.btn-transparent .icon-arrow{transform: rotate(0deg);transition: .5s all; margin-left: 10px;color: #727373;}
.property-summary-bx .btn.btn-transparent.collapsed .icon-arrow{transform: rotate(180deg);}
.property-summary-bx .ps-lists .form-group,.summary-bx .ps-lists .form-group{width: 16%;display: flex;flex-wrap: wrap;justify-content: center;}
.property-summary-bx .ps-lists .form-group label,.summary-bx .ps-lists .form-group label {width: 85px;height: 55px;display: flex;justify-content: center;align-items: center;font-size: 14px;color: #000;background-color: #d0ecf0;border-radius: 5px;flex-wrap: wrap;line-height: 1.2;}
.property-summary-bx .ps-lists .form-group label span,.summary-bx .ps-lists .form-group label span {text-align: center;}
.property-summary-bx .ps-lists .form-group label small,.summary-bx .ps-lists .form-group label small {font-size: 14px;display: block;}
.property-summary-bx .ps-lists .form-group .form-control,.summary-bx .ps-lists .form-group .form-control {background: #fff; max-width: 50%; text-align: center; padding: 0 5px;font-size: 20px;font-weight: 500;border: 1px solid transparent;border-radius: 5px;color: #000;}
.property-summary-bx .ps-lists .form-group .form-control.br1 {border-color: #ced4da;}
.summary-bx .ps-lists .form-group .form-control{border:1px solid #ced4da;}
.property-summary-bx .ps-lists .summary_edit {color: #727373;font-size: 20px;cursor: pointer;}
.property-summary-bx .ps-lists .summary_edit:hover {color: #0f6674;}


.property-summary-bx .ps-lists .form-group input::-webkit-outer-spin-button,
.summary-bx .ps-lists .form-group input::-webkit-outer-spin-button,
.property-summary-bx .ps-lists .form-group input::-webkit-inner-spin-button,
.summary-bx .ps-lists .form-group input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.property-summary-bx .ps-lists .form-group input[type=number],
.summary-bx .ps-lists .form-group input[type=number] { -moz-appearance: textfield; }

.summary-bx .ps-lists .form-group{border-right:2px solid #ddd;}
.summary-bx .ps-lists .form-group .icon-info{color: #3b88fd;}
.summary-bx .ps-lists .form-group:last-child{border-right:0;}
h5 .icon-info{color: #3b88fd;font-size: 16px;}


@media (max-width: 575px){
    .card-body .upload-bx{min-width: 100%;}
    .property-summary-bx .ps-lists .form-group {width: 33.33%;}
    .summary-bx .ps-lists .form-group{width: 26%;}
    .property-summary-bx .ps-lists .btn-bx {width: 100%;text-align: center;}
    #crop_div {width:100% !important}
    /* #profileModal {max-height: 600px} */
}

/* upload-btn-wrapper */
.file-upload-bx-2 { position: relative; overflow: hidden; display: inline-block;}
.p { border: 2px solid gray; color: gray; background-color: white; padding: 8px 20px; border-radius: 8px; font-size: 20px; font-weight: bold; }
.file-upload-bx-2 input[type=file] { font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0; cursor: pointer; }

.north
{
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.west
{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.south
{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.east
{
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

/*.activity-type-bx*/
.activity-type-bx{
    max-width: 100%;
}

.activity-type-bx .icon-square{
  font-size: 16px;
  display: block;
  border: 1px solid #ddd;
  line-height: 1;
}

.activity-type-bx .activity-type-list .atl-name{
    text-overflow: ellipsis;
    display: block;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
}

.activity-type-bx .activity-type-list{
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  position: relative;
  width: calc(100% - 34px);
}

.activity-type-bx .activity-type-list .icon-edit{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.activity-type-head .add-activity-type{
  font-size: 20px;
  color: #17a2b8;
}

/*up-color*/
.up-color {display: block;color: #6f6e6e;font-weight: 500;margin: 0 0 15px;}

/*r-color*/
.r-color {display: block;color: #17a2b8;font-weight: 500;margin: 15px 0 15px;text-align: center;}

.btn-cc-bx .btn{text-transform: capitalize;margin: 0;max-width: 80px;}


/*fi-groups*/
.fi-groups {display: flex; padding: 10px 5px; margin: 0; flex-wrap: wrap; justify-content: center; background: #f5f5f5;}
.fi-groups .rd-bx {display: block;margin: 3px;background-color: transparent;width: 25px;height: 25px;border:2px solid #ddd;cursor: pointer;}
.fi-groups .rd-bx.active {border-color: #6c757d;}
/* .fi-groups .rd-bx [type="radio"]:checked,
.fi-groups .rd-bx [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.fi-groups .rd-bx [type="radio"]:checked + label,
.fi-groups .rd-bx [type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 0;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  width: 25px;
  margin: 0;
  height: 25px;
}
.fi-groups .rd-bx [type="radio"]:checked + label:before,
.fi-groups .rd-bx [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #fff;
}
.fi-groups .rd-bx [type="radio"]:checked + label:after,
.fi-groups .rd-bx [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 21px;
    height: 21px;
    background: #F87DA9;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.fi-groups .rd-bx [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.fi-groups .rd-bx [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
