<h1>
  Add a new reply
</h1>


<hr>

<form action="/create_reply" method="post">

  <div class="form-group">
    <label for="comment_id">
      Comment
    </label>

    <input type="text" id="comment_id" name="comment_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create reply
  </button>
</form>

<hr>

<a href="/replies">
  Go back
</a>
