<div class="row mb-0 h-100">
  <div class="col-lg-4 offset-lg-3 col-10">
    <h4 class="text-info text-uppercase">
      ALL Properties
    </h4>
  </div>

  <div class="col-lg-1 offset-lg-1 col-2 pt-0 my-0 align-text-top">
    <a class="text-center text-info" href="/properties/new">
      <h1 class="font-weight-light">+</h1>
    </a>
  </div>

</div>

<div class="row my-0 pt-0">
  <div class="col-12 col-lg-6 offset-lg-3">
    <hr>
  </div>
</div>


<% if @properties_active.count == 0 %>
  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light text-center text-uppercase">
        Add a property to get started.
      </h5>
    </div>
  </div>
<% else %>
<% end %>

<% if @properties_active.where(listing_type: "For Sale").count > 0 %>

  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="text-secondary text-uppercase">
        For Sale
      </h5>
    </div>
  </div>

<% else %>
<% end %>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">

    <% @properties_active.where(listing_type: "For Sale").each do |property| %>

      <div>
        <a href="properties/<%= property.id %>">
          <button type="button" class="btn btn-secondary btn-lg btn-block mb-3 text-uppercase"> <%= property.address %></button>
        </a>
      </div>

    <% end %>

  </div>
</div>

<% if @properties_active.where(listing_type: "For Rent").count > 0 %>
  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="text-secondary text-uppercase">
        For Rent
      </h5>
    </div>
  </div>
<% else %>
<% end %>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">

    <% @properties_active.where(listing_type: "For Rent").each do |property| %>

      <div>
        <a href="properties/<%= property.id %>">
          <button type="button" class="btn btn-secondary btn-lg btn-block mb-3 text-uppercase"> <%= property.address %></button>
        </a>
      </div>

    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <hr>
    <h5>
      <a href="/properties/new" class="btn btn-block btn-outline-secondary">
        Add a new property
      </a>

    </h5>

  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3 text-center">
    <hr class="mt-2">
    <a class="font-weight-light" href="/archive">
      Archive
    </a>
  </div>
</div>
