<div class="row mb-0">
  <div class="col-lg-4 offset-lg-3 col-10">
    <div class="d-flex">
      <h4 class="text-info text-uppercase">
        ALL Properties
      </h4>
      <div class="search-box">
        <a class=" text-info remove-loader" id="search_icon">
          <i class="fas fa-search"></i>
        </a>
        <input type="text" name="seach" placeholder="Search..." class="hide form-control" id="search_txt" />
      </div>
    </div>
  </div>
  <div class="col-lg-1 offset-lg-1 col-2 mb-0">
   <section class="vert-custom">
   <a class="text-center text-info" href="/properties/new">
     <h1 class="font-weight-light mb-0">+</h1>
   </a>
   </section>
 </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <hr class="mt-0 mb-2" style="height:10px">
  </div>
</div>
<div id="search_result">
  <%= render partial: 'property_templates/show_all_properties_list', locals: {properties_active: @properties_active} %>
</div>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <hr>
    <h5>
      <a href="/properties/new" class="btn btn-block btn-outline-secondary">
        Add a new property
        <%= @search %>
      </a>
    </h5>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3 text-center">
    <hr class="mt-2">
    <a class="font-weight-light" href="/archive">
      Archive
    </a>
  </div>
</div>

<script type="text/javascript">
  $( "#search_icon" ).click(function() {
    if ($("#search_txt").hasClass("hide"))
    {
      $("#search_txt").removeClass("hide")
      $("#search_txt").addClass("show")
      $("#search_txt").focus();
    }
    else{
      $("#search_txt").removeClass("show")
      $("#search_txt").addClass("hide")
    }

  });
  $(window).on('load', function() {
    $( "#search_txt" ).keyup(function(e) {
      $.ajax({
        url: "/search",
        data: {
          keyword: this.value
        }
      });
    });
  });
</script>
