<div class="row mb-2s">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Welcome!
    </h4>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">
    <div class="text-center font-weight-light">
      Track Your Listing is an easy and reliable way for real estate agents to track everything they do for their clients.
      Add a property or customer to get started. For detailed instructions check out the <a href="/help">help</a> page.
    </div>
    <hr>
  </div>
</div>

<div class="row mb-5">

  <div class="col-lg-3 offset-lg-3 col-6">
    <a class="btn btn-outline-info btn-block text-center h-100 pt-3" href="/all_properties">
      <i class="fas fa-home fa-3x mb-2 "></i>
      <h5 class="font-weight-light">Properties</h5>
    </a>
  </div>

  <div class="col-lg-3 col-6">
    <a class="btn btn-outline-info btn-block text-center pt-3" href="/buyers" >
      <i class="fas fa-users fa-3x mb-2"></i>
      <h5 class="font-weight-light">Customers</h5>
    </a>
  </div>

</div>

<div class="row mb-3">
  <div class="col-lg-4 offset-lg-4 col-6 mx-auto">
    <a class="btn btn-outline-secondary btn-block text-center pt-3 mb-2" href="/archive" >
      <i class="fas fa-archive fa-2x mb-2"></i>
      <h6 class="font-weight-light">Archive</h6>
    </a>
    <p class="text-center text-secondary">
      Saved Properties and Customers.
    </p>
  </div>
</div>

