<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <h3 class="text-info text-uppercase">
      Welcome
    </h3>
    <hr>
  </div>
</div>


<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-secondary text-uppercase">
      
    </h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">

    <div>
      <a href="/all_properties">
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-3 text-uppercase"> Properties</button>
      </a>
    </div>

    <div>
      <a href="/buyers">
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-3 text-uppercase"> Buyers</button>
      </a>
    </div>

  </div>
</div>

