<div class="row mb-2s">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Welcome!
    </h4>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">

    <div class="text-center font-weight-light">
      Track Your Listing is an easy and reliable way for real estate agents to track everything they do for their clients.
      Add a property or customer to get started. For detailed instructions check out the <a href="/help">help</a> page.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <div>
      <a href="/all_properties">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 text-uppercase">Properties</button>
      </a>
    </div>

    <div>
      <a href="/buyers">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 text-uppercase">Customers</button>
      </a>
    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3 text-center">
    <hr class="mt-2">
  <a class="font-weight-light" href="/archive">
    Archive
  </a>
  </div>
</div>