<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Report: 
    </h4>
    <h5 class = "font-weight-light text-info text-center">
      <%= @property.address %>
    </h5>
    <hr>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">

    <h4 class="text-center font-weight-light">
      Choose a format:
    </h4>


  </div>
</div>

<div class="row mb-4">


    <div class="col-lg-3 offset-lg-3 col-6">  
        <a class="btn btn-outline-info btn-block text-center custom-info-button h-100 pt-3" href="/report_generator_pdf/<%= @property.id %>/">
          <i class="far fa-file-pdf fa-3x mb-2 "></i>
          <h5 class="font-weight-light">PDF</h5>
        </a>
      </div>  

    <div class="col-lg-3 col-6">
      <a class="btn btn-outline-info btn-block text-center pt-3 custom-info-button" href="/properties/<%= @property.id %>/report_spreadsheet/" >
        <i class="far fa-file-excel fa-3x mb-2"></i>
        <h5 class="font-weight-light">Spreadsheet</h5>
      </a>
    </div>
    
 
</div>


